* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bcbeab;
  color: #212121;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.heading {
  margin-top: 100px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.country-list {
  list-style: none;
  padding: 0;
}
.country-list__item {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}
.country-list__item p {
  margin: 0;
}
.country-list__flag {
  width: 30px;
  height: 20px;
}
.country-info {
  padding: 0;
  margin: 0;
}
.country-info h1 {
  font-size: 25px;
  margin: 0;
}